---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
BreakBeforeBraces: Allman
InsertNewlineAtEOF: true
LineEnding: CRLF
PointerAlignment: Left
SeparateDefinitionBlocks: Always
Language: Cpp
